.equipo-container{
    background-color: #764AF1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.desktop{
    display: none;
}

.container-general {
    width: 90%;
    max-width: 1080px;
    overflow: hidden;
}

.growers-mobile-alrevez {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.profes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

h2{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 128.761% */
    text-transform: capitalize;
}

h3{
    color: #FFFFFF;
    margin-bottom: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-titulo{
    color: #FFF;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    text-transform: capitalize;  
}

.info-profe{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
}

.titulo{
    justify-items: center;
}

.foto-profe{
    width: 165.739px;
    height: 166.41px;
    flex-shrink: 0;
    border-radius: 154.69px 154.69px 0px 154.69px;
    object-fit: cover;
}

.texto-profe{
    color: #D5EAFF;
    font-size: 14px;
}


@media (min-width: 767px) {
    .equipo-tablet{
        display: flex;
    }

    

}