.footer-container {
    height: 75px;
    width: 100%;
    background: #232424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer-container p span {
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}