.galeria-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #0A175C;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
}


.galeria-container h2 {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 15px;
    /* 156.25% */
    margin-top: 10vh;
}

.galeria-container h2 span {
    color: #FFF;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.galeria {
    display: flex;
    margin-bottom: 35px;
    animation: carrusel 40s linear infinite;
    width: calc(270px * 12 - 20px);
    position: relative;
    z-index: 1;
}

.galeria img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    transition: all 0.5s ease;
}

.galeria img:hover {
    scale: 1.05;
    cursor: pointer;
}

.galeria img:last-child {
    margin-right: 0;
}


@keyframes carrusel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-270px * 6));
    }
}

@media (min-width: 768px) {
    .galeria{
        margin-bottom: 45px;
    }
}

@media (min-width: 1024px) {
    .galeria{
        margin-bottom: 55px;
    }
}