/* ===============================
   ESTILOS BASE - MOBILE FIRST
   =============================== */
.growers-section {
    max-width: 100% !important;
    height: auto;
    background-color: #0A175C;
    position: relative;
    overflow: hidden;
}

.growers-section-home-container {
    width: 100%;
    height: auto;
}

.growers-section-home {
    margin-top: 10vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.growers-informacion {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.growers-informacion button {
    background: #FEBB2F;
    width: 230px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: #0A175C;
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

.growers-informacion button:hover{
    background-color: #55cfdf;
    scale: 1.05;
}

.growers-informacion button a {
    text-decoration: none;
    color: #0A175C;
}
.growers-imagen {
    margin: 25px 0;
    width: 90%;
    height: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.growers-imagen img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.growers-mobile {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: auto;
}

.titulo-growers {
    color: #FFF;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}

.titulo-growers span {
    font-style: italic;
    font-weight: 700;
}

.growers-testimonios {
    margin: 15px 0;
    display: flex;
    animation: carrusele 70s linear infinite;
    width: calc(275px * 12 - 25px);
}



@keyframes carrusele {
    0% {
        /* -webkit-transform: translateX(0); */
        transform: translateX(0);
    }

    100% {
        /* -webkit-transform: translateX(calc(-250px * 6)); */
        transform: translateX(calc(-275px * 6));
    }
}

/* ===============================
   MEDIA QUERIES - MOBILE FIRST
   =============================== */

/* Celular (≥ 360px) */
@media (min-width: 360px) {
    .titulo-growers {
        font-size: 26px;
    }


    .growers-informacion button {
        width: 250px;
        height: 40px;
        font-size: 13px;
    }

    .growers-imagen {
        height: 250px;
    }

}

/* Tablets pequeñas (≥ 600px) */
@media (min-width: 600px) {
    .growers-imagen {
        height: 300px;
    }

    .growers-informacion {
        width: 60%;
    }

    .titulo-growers {
        font-size: 30px;
    }

    .growers-informacion button {
        width: 260px;
        height: 40px;
        font-size: 14px;
    }

}


/* Laptops (≥ 1024px) */
@media (min-width: 1024px) {
    .growers-section-home {
        flex-direction: row;
        height: 75vh;
        justify-content: center;
    }

    .growers-informacion {
        width: 45%;
        align-items: start;
        margin: 0 30px;
    }

    .titulo-growers {
        text-align: start;
        font-size: 38px;
        width: 450px;
    }

    .growers-imagen {
        margin: 0 30px;
        width: auto;
        height: 300px;
    }


    .growers-testimonios {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

/* Monitores grandes (≥ 1440px) */
@media (min-width: 1440px) {}