.nav {
    background-color: #232424;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;

}

/* Logo */
.logo{
    width: 200px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    object-fit: cover;
    width: 100%;
}

/* Botón de menú hamburguesa */
.menu-hamburguesa {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos del menú */
.menu {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    max-height: 0;
    background-color: #0A175C;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Cuando el menú está abierto */
.menu.open {
    min-height: 60vh;
    opacity: 1;
}

/* Lista de navegación */
.menu li {
    list-style: none;
    padding: 10px;
}

.menu li:hover {
    border-bottom: solid 2px red;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* Para accesibilidad */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Estilos para desktop */
@media screen and (min-width: 1024px) {
    .menu-hamburguesa {
        display: none;
    }

    .menu {
        position: static;
        max-height: none;
        opacity: 1;
        background: none;
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
        margin-right: 25px;
        width: 70%;

    }

}
