.testimonio {
    width: 250px;
    height: 100px;
    display: flex;
    color: wheat;
    cursor: none;
    margin: 0px 25px;
}

.testimonio-img-container {
    width: 50px;
    height: 100%;
}

.testimonio img {
    padding: 0px 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.testimonio-informacion-container {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.testimonio-informacion-container h4 {
    color: #FFF;
     font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 8.302px;
    margin: 5px 0;
    padding-left: 10px;
    /* 125% */
}

.testimonio-informacion-container h5 {
    color: #FFF;
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    margin: 5px 0;
    padding-left: 10px;
    /* 134.797% */
}

.estrellas-testimonio {
    padding-left: 8px;
}


/* Estilos para tableta*/
@media screen and (min-width: 600px) {
    .testimonio {
        width: 300px;
        height: 100px;
    }

    .testimonio-img-container {
        width: 60px;
    }
    
    .testimonio img {
        width: 60px;
        height: 60px;
    }
    
    .testimonio-informacion-container {
        width: 240px;
    }
    
    .testimonio-informacion-container h4 {
        font-size: 15px;
    }
    
    .testimonio-informacion-container h5 {
        font-size: 12px;
        line-height: 12px;
    }
    
    .estrellas-testimonio {
        padding-left: 8px;
    }

    .estrella-svg {
        width: 20px;
        height: 19px;
    }
}
